#: NWP
nhsp_prefix: LL02_NHSP_
nhsf_prefix: LL02_NHSF_
ecmwf_prefix: LL02_NHSF
#: Example filename: LL02_NHSF_202003240000+003H00M
nhsf_file_name_sift: '{ecmwf_prefix:9s}_{analysis_time:%Y%m%d%H%M}+{forecast_step:d}H00M'

nwp_static_surface: /san1/pps/import/NWP_data/lsm_z.grib1
nwp_output_prefix: LL02_NHSPSF_
nwp_outdir: /san1/pps/import/NWP_data/source
pps_nwp_requirements: /san1/pps/import/NWP_data/pps_nwp_list_of_required_fields.txt


#: Publish/subscribe
publish_topic: PPS
subscribe_topics: [1c/nc/0deg] #[AAPP-HRPT,AAPP-PPS,EOS/1B,segment/SDR/1B,1c/nc/0deg]
#: Has to do with messegatype
sdr_processing: granules


#: Python and PPS related
python: python
run_all_script: /local_disk/opt/acpg/v2018_cmsaf/scr/ppsRunAll.py
run_cmaprob_script: /local_disk/opt/acpg/v2018_cmsaf/scr/ppsCmaskProb.py
#run_all_script: /home/pps/opt_bi/ACPG_v2018_patchCMSAF_Sept2019/scr/ppsRunAll.py
#run_cmaprob_script: /home/pps/opt_bi/ACPG_v2018_patchCMSAF_Sept2019/scr/ppsCmaskProb.py
maximum_pps_processing_time_in_minutes: 20
run_cmask_prob: yes
run_pps_cpp: no


#: Used for PPS log file
log_rotation_days: 1
log_rotation_backup: 10


#: Uncategorised
number_of_threads: 1
station: norrkoping


#: These are only used for the LOG output and to publish resultfiles and has nothing to do with PPS
#: Incase the PPS environmental variables are sat they will overide these outdir
#: PPS environmental variable SM_PRODUCT_DIR
pps_outdir: /data/24/saf/polar_out/direct_readout
#: PPS environmental variable STATISTICS_DIR
pps_statistics_dir: /data/24/saf/polar_out/monitoring/direct_readout


#:  Do not seams to be used.    
level1_dir: /local_disk/data/pps/import/PPS_data/source
ncpus: 4
#: In pps_runner.py there is a environmental variable PPS_SCRIPT
pps_script: /usr/bin/pps_run.sh


#: Different path that sets differently depending on environment variable SMHI_MODE.
#: Incase SMHI_MODE is not specified offline is used.
offline:
#:  NWP Paths Needed
    nhsp_path: /data/proj/sam/sam-utv/data/data/S/LL02_NHSP
#:  NWP Paths Optional, set to None as deafault    
    nhsf_path: /data/proj/sam/sam-utv/data/data/S/LL02_NHSF
    
bi:
    nhsp_path:  /nobackup/smhid15/sm_erjoh/Satsa/import/NWP_data/source
    nhsf_path: /nobackup/smhid15/sm_erjoh/Satsa/import/NWP_data/source

prod:
    nhsp_path: /data/24_nb/ecmwftos/data/T6DtoLL02_NHSP/
    nhsf_path: /data/24_nb/ecmwftos/data/T9DtoLL02_NHSF/

test:
    nhsp_path: /data/prodtest/ecmwftos/data/T6DtoLL02_NHSP/
    nhsf_path: /data/prodtest/ecmwftos/data/T9DtoLL02_NHSF/

utv:
    nhsp_path: /data/prodtest/ecmwftos/data/T6DtoLL02_NHSP/
    nhsf_path: /data/prodtest/ecmwftos/data/T9DtoLL02_NHSF/
